<div class="poke-details">
  <h2>{{ pokemon.name | titlecase }} details</h2>
  <div>
    <p class="title--bg">Types</p>
    <ul>
      <li *ngFor="let type of pokemon.types">
        <p>{{ type.type.name | titlecase }}</p>
      </li>
    </ul>
  </div>
  <div>
    <p class="title--bg">Game version</p>
    <p>{{ pokemon.version_group.name }}</p>
    <figure>
      <figcaption class="title--bg">Shiny version</figcaption>
      <img [src]="pokemon.sprites.front_shiny" />
    </figure>
  </div>
</div>
